.Rproj.user
.DS_Store
.Rbuildignore
.RData
# .Renviron
.Rhistory
.Rprofile
inst/gobmx-shapes-app/rsconnect
inst/gobmx-shapes-app/.Rbuildignore
inst/gobmx-shapes-app/.DS_Store
inst/gobmx-shapes-app/down_shapes
inst/gobmx-shapes-app-high/rsconnect
inst/gobmx-shapes-app-high/.Rbuildignore
inst/gobmx-shapes-app-high/.DS_Store
inst/gobmx-shapes-app-high/down_shapes


site-library/
*.zip