@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lato:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap');

html, body {
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  font-family: 'Roboto' !important;
}

h2 {
  font-weight: 100;
}

.toc-ignore {
  display: none;
}

.title-viz {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 19.2524px;
line-height: 18px;
text-align: center;
letter-spacing: -0.337678px;
color: #3998A5;
}

.subtitle-viz {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10.8291px;
line-height: 13px;
text-align: center;
letter-spacing: -0.000941267px;
color: #3998A5;
}

.dataSummary {
  display: flex;
  color: #637381;
  justify-content: space-evenly;
  padding: 3px 5px;
}

.infoAll {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  font: normal normal bold 23px Roboto;
  letter-spacing: 0px;
  padding: 0px 7px;
}

.infoAdd {
 text-align: center;
 font: normal normal normal 11px Roboto;
 letter-spacing: 0px;
 color: #637381;
 font-weight: 300;
 opacity: 1;
}

#INDEXTEST-updateAllparmesan {
  display: none;
}

.index-close {
  display: none;
}

.footer-viz {
  align-items: center;
  background: #F7F7F7;
  justify-content: space-between;
}

.footer-center-line {
  border-left: 1px solid;
  margin-left:3%;
  padding: 0px 0px 0px 12%;
}

.index-buttons {
  display: block !important;
  margin-bottom: 7px !important;
}

.content-index {
  display: flex;
  text-align: center;
  align-items: center;
}

.input-group {
  flex-direction: initial !important;
  margin-bottom: 7px;
}

#load_parmesan_ui_1-anioId_button {
  background: #637381 !important;
  cursor: initial !important;
  padding: 6px 7px !important;
}


.index-btn {
  text-align: left !important;
  font-size: 11px !important;
  color: #545454 !important;
  background: #F0F0F0 !important;
  border-radius: 16px !important;
  border: 0px !important;
  margin-right: 3px !important;
  padding: 5px 10px !important;
}

.index-label {
  opacity: 0.55 !important;
  font-size: 12px !important;
  font-family: inherit !important;
}

.index-choices {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.content-all-index {
  display: block;
  text-align: left;
}

#labelIndex {
 border-bottom: 1px solid #ACACAC;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 16px;
 line-height: 19px;
 color: #637381;
 padding-bottom: 3px;
}

.fuentes-data {
 color: #637381;
 font-family: 'Inter';
 font-style: normal;
 font-size: 11px;
 line-height: 20px;
 margin: 7% 0px;
 text-align: left;
}


